@media (prefers-color-scheme: dark) {
    body {
        /*background-color: #26110f;*/
        background-color: #646402;
    }

    div.title {
        color: #cbcbbe;
    }

    div.die.column-die {
        background-color: gray;
    }

    div.history-item {
        color: #cbcbbe;
    }

    div.history-items span.row-die {
        color: #dca492 !important;
    }

    button {
        background-color: #5e5e49;
        color: #cbcbbe;
    }
}

div.title {
    font-size: 1.5rem;
}

button {
    border-radius: 5px;
    box-shadow: none;
    border: solid black 1px;
}

div button.roll-3-dice,
div button.roll-twenty-sided-dice {
    display: block;
    padding: 3vw;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 1.4rem;
}

div button.roll-3-dice[disabled],
div button.roll-twenty-sided-dice[disabled] {
    background-color: lightgray;
    font-weight: normal;
}

div.card-dice {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

div.die {
    padding: 2vw 8vw;
    margin-left: auto;
    margin-right: auto;
    border: solid black 2px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 5rem;
    font-family: monospace;
}

div.column-die {
    background-color: white;
    color: black;
}

div.row-die {
    background-color: red;
    color: white;
}

div.twenty-die {
    background-color: mediumseagreen;
    color: black;
}

div.history-items span.column-die {
    padding: 0 1vw;
}

div.history-items span.row-die {
    color: red;
}

div.history-items span.twenty-die {
    color: mediumseagreen;
}

div.history-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    border: solid lightgray 1px;
    margin: 1vw auto;
    padding: 1vw;
    box-shadow: 2px 2px 3px black;
}

div.history-item div.timestamp,
div.history-item div.history-card-dice,
div.history-item div.twenty-sided-dice {
    width: 33%;
    text-align: center;
    margin-bottom: 0;
}

button.clear-history {
    margin-left: 2vw;
    font-size: 0.6rem;
    box-shadow: none;
    border: solid gray 1px;
}